# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
apps/myvue/node_modules/
apps/myvue/dist/
apps/main/node_modules/
apps/main/dist/
apps/fastify/node_modules/
apps/fastify/dist/
packages/micro-frontend/
apps/micro-frontend/dist/
apps/micro-frontend/node_modules/
static/
.DS_Store
coverage/
*.local*





.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.7z
.env
.turbo

*.tsbuildinfo
